<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News Publishing</title>
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/style.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Arimo|Merienda" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/style1.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/style_common.css" />
	<script src="assets/js/jquery-2.1.1.min.js"></script>
	<scrip src="assets/js/bootstrap.min.js"></script>

  </head>
<body>

<section id="top">
 <div class="container">
  <div class="row">
   <div class="top clearfix">
    <div class="col-sm-2">
	 <div class="top_1">
	  <p><i class="fa fa-cloud"></i> <a href="#">3.9C</a> North Korea </p>
	 </div>
	</div>
	<div class="col-sm-2">
	 <div class="top_1">
	  <p>Monday, June 28 </p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="top_2">
	  <p>
	  <a href="#"> Log in / Join</a>
	  <a href="#"> Web</a> 
	  <a href="#"> Blog</a> 
	  <a href="#"> Shop now!</a>
	  <a href="#"> Contact</a>  
	  </p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="top_3 text-right">
	  <p>
	  <a href="#"><i class="fa fa-vimeo"></i></a>
	  <a href="#"><i class="fa fa-vk"></i></a>
	  <a href="#"><i class="fa fa-youtube"></i></a> 
	  <a href="#"><i class="fa fa-facebook"></i></a>
	  <a href="#"><i class="fa fa-twitter"></i></a>
	  </p>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="header">
	<nav class="navbar navbar-default cd-secondary-nav">
        <div class="container">
		    <div class="header_logo clearfix">
			  <div class="col-sm-4">
			   <div class="header_logo_left text-center">
			      <h3><a href=">NEWS <span class="span_1">24</span> PUBLISHING <span class="span_2">This is publish world</span></a></h3>
			   </div>
			  </div>
			  <div class="col-sm-8">
			   <div class="header_logo_right">
			    <a href="#"><img src="assets/img/1.jpg" width="100%" height="100px"></a>
			   </div>
			  </div>
			
			</div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a class="navbar-brand" href=">NEWS <span class="span_1">24</span> PUBLISHING <span class="span_2">This is publish world</span></a>
               </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="tag_menu active_tab" href=">HOME</a> </li>
                     
                    <li>
                        <a class="tag_menu" href">NEWS</a> </li>
					
					<li>
                        <a class="tag_menu" href="">DETAIL</a></li>
                    
					<li>
                        <a class="tag_menu" href="c">CONTACT</a></li>
					
					
					<li class="dropdown dropdown-large">
			<a href="#" class="dropdown-toggle  large_1 tag_menu" data-toggle="dropdown">MORE<b class="caret"></b></a>
			
			<ul class="dropdown-menu dropdown-menu-large row ">
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="assets/img/2.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="assets/img/3.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="assets/img/4.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
				<li class="col-sm-3">
					<ul> 
						<li><a href="#"><img src="assets/img/5.jpg" width="100%"></a></li>
						<li class="dropdown-header">Navbar</li>
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Integer nec odio Praesent libero.</a></li>
						
					</ul>
				</li>
			</ul>
			
		</li>
		            
					<li class="dropdown">
						  <a class="tag_menu border_none" href="#" data-toggle="dropdown" role="button" aria-expanded="false">DROPDOWN<span class="caret"></span></a>
						  <ul class="dropdown-menu drop_n" role="menu">
							<li><a href="#">NEWS</a></li>
							<li><a href="#">DETAIL</a></li>
							<li><a href="#">HOME</a></li>
							<li><a href="#">CONTACT</a></li>
						  </ul>
						</li>
		   
		            <li>
                        <a class="tag_menu" href="#">POPULAR</a></li>
						
					<li>
                        <a class="tag_menu" href="#">WEBPAGES</a></li>
					
                </ul>
				<ul class="nav navbar-nav navbar-right">
                    
					<li class="dropdown"><a class="tag_menu  tag_menu_1 border_none_1" href="#" data-toggle="dropdown"><span class="fa fa-search"></span></a>
							<ul class="dropdown-menu drop_3" style="min-width: 300px;">
								<li>
									<div class="row_1">
										<div class="col-sm-12">
											<form class="navbar-form navbar-left" role="search">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Search">
												<span class="input-group-btn">
													<button class="btn btn-primary" type="button">
														Go!</button>
												</span>
											</div>
											</form>
										</div>
									</div>
								</li>
							</ul>
						</li>
					
                </ul>
				 
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</section>

<section id="center">
 <div class="container">
  <div class="row">
   <div class="center clearfix">
    <div class="center_1 clearfix">
	  <p><span>POPULAR NOW</span> <a href="#">Delhi, India: Lorem ipsum dolor sit amet.</a></p>
	</div>
	<div class="center_2 clearfix">
	  <div class="col-sm-6 space_all">
	   <div class="center_2_left clearfix">
		<div class="ih-item square colored effect8 scale_down"><a href="<%= news.articles[0].url %>">
			<div class="img"><img src="<%= news.articles[0].urlToImage %>" alt="img"></div>
			<div class="info">
			  <h3><%= news.articles[0].title %></h3>
			  <p> <%= news.articles[0].description %></p>
			</div></a></div>
		</div>
	  </div>
	  <div class="col-sm-6 space_all">
	   <div class="center_2_right">
	    <div class="ih-item square colored effect8 scale_down"><a href="<%= news.articles[1].url %>">
                      <div class="img"><img src="<%= news.articles[1].urlToImage %>" alt="img"></div>
                      <div class="info">
                        <h3><%= news.articles[1].title %></h3>
                        <p> <%= news.articles[1].description %></p>
                      </div></a></div>
	   </div>
	   <div class="center_2_right_1 clearfix">
	    <div class="col-sm-6 space_all">
		 <div class="center_2_right_1_inner border_center_1">
			<div class="ih-item square colored effect8 scale_down"><a href="<%= news.articles[5].url %>">
				<div class="img"><img src="<%= news.articles[5].urlToImage %>" alt="img"></div>
				<div class="info">
				  <h3><%= news.articles[5].title %></h3>
				  <p> <%= news.articles[5].description %></p>
				</div></a></div>
 			</div>
		</div>
		<div class="col-sm-6 space_all">
		 <div class="center_2_right_1_inner">
			<div class="ih-item square colored effect8 scale_down"><a href="<%= news.articles[3].url %>">
				<div class="img"><img src="<%= news.articles[3].urlToImage %>" alt="img"></div>
				<div class="info">
				  <h3><%= news.articles[3].title %></h3>
				  <p> <%= news.articles[3].description %></p>
				</div></a></div>
 			</div>
		</div>
	   </div>
	  </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="middle">
 <div class="container">
  <div class="row">
   <div class="middle clearfix">
    <div class="col-sm-8 space_left">
	 <div class="middle_left clearfix">

		    <div class="middle_left_menu clearfix">
		   <ul class="nav nav-tabs">
				<li class="color_1 active_1_nav"><a data-toggle="tab" href="#home">IMPORTANT</a></li>
				<li class="active"><a data-toggle="tab" href="#home">ALL</a></li>
				<li><a data-toggle="tab" href="#menu1">Fashion</a></li>
				<li><a data-toggle="tab" href="#menu2">Trend</a></li>
				<li><a data-toggle="tab" href="#menu3">Health Department</a></li>
				<li><a data-toggle="tab" href="#menu4">Tours</a></li>
				<li><a data-toggle="tab" href="#menu5">Widget</a></li>
           </ul>
          </div>

			<div class="tab-content clearfix">
			  <div id="home" class="tab-pane fade in active clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="<%= news.articles[6].urlToImage %>" width="100%"></a>
					   <h4><a href="#"><%= news.articles[6].title %></a></h4>
					   <h6><span>Date </span> -  <%= news.articles[6].publishedAt %></h6>
					   <p><%= news.articles[6].description %></p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="<%= news.articles[7].urlToImage %>" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> <%= news.articles[7].title %></a></p>
						 <h6><%= news.articles[7].publishedAt %></h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="<%= news.articles[8].urlToImage %>" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"><%= news.articles[8].title %></a></p>
						 <h6><%= news.articles[8].publishedAt %></h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="<%= news.articles[10].urlToImage %>" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"><%= news.articles[10].title %></a></p>
						 <h6><%= news.articles[10].publishedAt %></h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="<%= news.articles[9].urlToImage %>" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"><%= news.articles[9].title %></a></p>
						 <h6><%= news.articles[9].publishedAt %></h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu1" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/15.jpg" width="100%"></a>
					   <h4><a href="#">Nulla Quis Sem Nibh Dapibus Sagittis Ipsum Imperdiet</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu2" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/16.jpg" width="100%"></a>
					   <h4><a href="#">Consectetur Elit Integer Nec Odio Nec Praesent Libero</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu3" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/17.jpg" width="100%"></a>
					   <h4><a href="#">Praesent Libero Sed Cursus Ante Duis Dapibus  Diam</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu4" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/18.jpg" width="100%"></a>
					   <h4><a href="#">Fusce Nec Tellus Sed Augue Semper At Porta Massa</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu5" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/19.jpg" width="100%"></a>
					   <h4><a href="#">Duis Sagittis Ipsum Praesent Mauris Sit  Fusce Nec Tellus </a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			</div>

	 </div>
	 <div class="middle_left_1 clearfix">

		    <div class="middle_left_menu clearfix">
		   <ul class="nav nav-tabs">
				<li class="color_1 active_1_nav"><a data-toggle="tab" href="#home_news">FASHION NEWS</a></li>
				<li class="active"><a data-toggle="tab" href="#home_news">ALL</a></li>
				<li><a data-toggle="tab" href="#menu1_news">Tour</a></li>
				<li><a data-toggle="tab" href="#menu2_news">Food</a></li>
				<li><a data-toggle="tab" href="#menu3_news">Health Department</a></li>
				<li><a data-toggle="tab" href="#menu4_news">Company</a></li>
           </ul>
          </div>

			<div class="tab-content clearfix">
			  <div id="home_news" class="tab-pane fade in active clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/20.jpg" width="100%"></a>
					   <h4><a href="#">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/21.jpg" width="100%"></a>
					   <h4><a href="#">Nulla Quis Sem Nibh Dapibus Sagittis Ipsum Imperdiet</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu1_news" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/22.jpg" width="100%"></a>
					   <h4><a href="#">Consectetur Elit Integer Nec Odio Nec Praesent Libero</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/23.jpg" width="100%"></a>
					   <h4><a href="#">Praesent Libero Sed Cursus Ante Duis Dapibus Diam</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			    </div>
			  </div>
			  <div id="menu2_news" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				   <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/24.jpg" width="100%"></a>
					   <h4><a href="#">Fusce Nec Tellus Sed Augue Semper At Porta Massa</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/25.jpg" width="100%"></a>
					   <h4><a href="#">Duis Sagittis Ipsum Praesent Mauris Sit Fusce Nec Tellus</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu3_news" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				   <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/26.jpg" width="100%"></a>
					   <h4><a href="#">Sed Cursus Ante Dapibus Diam  Sed Nisi Nulla Quis Sem</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/27.jpg" width="100%"></a>
					   <h4><a href="#">Nibh Elementum Imperdiet Duis Sagittis Ipsum Praesent Mauris</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu4_news" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				   <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/28.jpg" width="100%"></a>
					   <h4><a href="#">Sed Augue Semper Porta Mauris Massa Vestibulum Lacinia Arcu</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left clearfix tab_inner_left_news">
					   <a href="#"><img src="assets/img/29.jpg" width="100%"></a>
					   <h4><a href="#">Eget Nulla Class Aptent Taciti Sociosqu Ad Litora Torquent</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  
			</div>

	 </div>
	 <div class="middle_left_2 clearfix">
	  <h4><a href="#">HOME PROJECT</a></h4>
	  <div class="middle_left_2_inner clearfix">
	   <div class="col-sm-4 space_left">
	    <div class="middle_left_2_inner clearfix">
		  <div class="grid clearfix">
					<figure class="effect-chico">
						<img src="assets/img/30.jpg" alt="img15"/>
						<figcaption>
							<h2>Head <span>lines</span></h2>
							<p>Fusce Nec  Semper Porta Massa</p>
							<a href="#">View more</a>						</figcaption>			
		  </figure>
					
	  </div>
	      <p class="para_1"><a href="#">Duis Sagittis Ipsum Praesent Mauris Sit Fusce Nec Tellus<br> Porta Massa</a></p>
		</div>
	   </div>
	   <div class="col-sm-4 space_left">
	    <div class="middle_left_2_inner clearfix">
		  <div class="grid clearfix">
					<figure class="effect-chico">
						<img src="assets/img/31.jpg" alt="img15"/>
						<figcaption>
							<h2>Head <span>lines</span></h2>
							<p>Fusce Nec  Semper Porta Massa</p>
							<a href="#">View more</a>						</figcaption>			
		  </figure>
					
	  </div>
	      <p class="para_1"><a href="#">Consectetur Elit Integer Nec Odio Praesent Libero Duis Sagittis Ipsum Praesent </a></p>
		</div>
	   </div>
	   <div class="col-sm-4 space_left">
	    <div class="middle_left_2_inner clearfix">
		  <div class="grid clearfix">
					<figure class="effect-chico">
						<img src="assets/img/32.jpg" alt="img15"/>
						<figcaption>
							<h2>Head <span>lines</span></h2>
							<p>Fusce Nec  Semper Porta Massa</p>
							<a href="#">View more</a>						</figcaption>			
		  </figure>
					
	  </div>
	      <p class="para_1"><a href="#">Nulla Quis Sem Nibh Elementum Imperdiet Consectetur Elit Integer Nec Odio </a></p>
		</div>
	   </div>
	  </div>
	 </div>
	 <div class="middle_left_3 clearfix">

		    <div class="middle_left_menu clearfix">
		   <ul class="nav nav-tabs">
				<li class="color_1 active_1_nav"><a data-toggle="tab" href="#home_tech">BUZZ AND WIDGETS</a></li>
				<li class="active"><a data-toggle="tab" href="#home_tech">ALL</a></li>
				<li><a data-toggle="tab" href="#menu1_tech">Widgets</a></li>
				<li><a data-toggle="tab" href="#menu2_tech"> Phones and Laptops</a></li>
				<li><a data-toggle="tab" href="#menu3_tech">Pictures</a></li>
				<li><a data-toggle="tab" href="#menu4_tech">Comments</a></li>
           </ul>
          </div>

			<div class="tab-content clearfix">
			  <div id="home_tech" class="tab-pane fade in active clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/33.jpg" width="100%"></a>
					   <h4><a href="#">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu1_tech" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/34.jpg" width="100%"></a>
					   <h4><a href="#">Nulla Quis Sem Nibh Dapibus Sagittis Ipsum Imperdiet</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu2_tech" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/35.png" width="100%"></a>
					   <h4><a href="#">Consectetur Elit Integer Nec Odio Nec Praesent Libero</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu3_tech" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/36.jpg" width="100%"></a>
					   <h4><a href="#">Praesent Libero Sed Cursus Ante Duis Dapibus  Diam</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			  <div id="menu4_tech" class="tab-pane fade clearfix">
				 <div class="click clearfix">
				  <div class="tab_inner clearfix">
					 <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/37.jpg" width="100%"></a>
					   <h4><a href="#">Fusce Nec Tellus Sed Augue Semper At Porta Massa</a></h4>
					   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
					   <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					  </div>
					 </div>
					 <div class="col-sm-6">
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur  Elit Integer Nec Odio Praesent Libero</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h6>Jan 16, 2016</h6>
						</div>
					   </div>
					  </div>
					 </div>
				  </div>
			   </div>
			  </div>
			</div>

	 </div>
	 <div class="middle_left_4 clearfix">
	  <h4 class="heading_tag"><a href="#"> PRESENTATION GROOMING</a></h4>
	  <div class="middle_left_4_inner clearfix">
         <div class="col-sm-4 space_left">
		  <div class="middle_left_4_inner_left"><img src="assets/img/38.jpg" width="100%"></div>
		 </div>
		 <div class="col-sm-8">
		  <div class="middle_left_4_inner_right">
		   <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit Integer nec odio</a></h4>
		   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		   <p> Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		  </div>
		 </div>
	  </div>
	  <div class="middle_left_4_inner clearfix">
         <div class="col-sm-4 space_left">
		  <div class="middle_left_4_inner_left"><img src="assets/img/39.jpg" width="100%"></div>
		 </div>
		 <div class="col-sm-8">
		  <div class="middle_left_4_inner_right">
		   <h4><a href="#">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</a></h4>
		   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		  </div>
		 </div>
	  </div>
	  <div class="middle_left_4_inner clearfix">
         <div class="col-sm-4 space_left">
		  <div class="middle_left_4_inner_left"><img src="assets/img/40.jpg" width="100%"></div>
		 </div>
		 <div class="col-sm-8">
		  <div class="middle_left_4_inner_right">
		   <h4><a href="#">Curabitursodales ligula in libero Sed dignissim lacinia nunc...</a></h4>
		   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		  </div>
		 </div>
	  </div>
	  <div class="middle_left_4_inner clearfix">
         <div class="col-sm-4 space_left">
		  <div class="middle_left_4_inner_left"><img src="assets/img/41.jpg" width="100%"></div>
		 </div>
		 <div class="col-sm-8">
		  <div class="middle_left_4_inner_right">
		   <h4><a href="#">Sed cursus ante dapibus diam Sed nisi Nulla quis sem at nibh elementum </a></h4>
		   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		  </div>
		 </div>
	  </div>
	  <div class="middle_left_4_inner clearfix">
         <div class="col-sm-4 space_left">
		  <div class="middle_left_4_inner_left"><img src="assets/img/42.jpg" width="100%"></div>
		 </div>
		 <div class="col-sm-8">
		  <div class="middle_left_4_inner_right">
		   <h4><a href="#">Fusce nec tellus sed augue semper porta Mauris massa Vestibulum lacinia</a></h4>
		   <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		   <p>Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		  </div>
		 </div>
	  </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="middle_right clearfix">
	  <div class="middle_right_1 clearfix">
	    <h4 class="heading_tag"><a href="#"> CONNECTED WITH US</a></h4>
		  <a href="#">
		         <div class="middle_right_1_inner clearfix">
		            <p>
					<i class="fa fa-facebook icon_1"></i>
					<span>1236 Likes <span class="pull-right pull_1">LIKE</span></span>
					</p>
					<p>
					<i class="fa fa-twitter icon_2"></i>
					<span>829 Followers <span class="pull-right pull_1">FOLLOW</span></span>
					</p>
					<p>
					<i class="fa fa-youtube icon_3"></i>
					<span>3,134 Subscribers <span class="pull-right pull_1">SUBSCRIBE</span></span>
					</p>
		            </div>
		   </a>
	  </div>
	  <div class="middle_right_2 clearfix">
	    <div class="grid clearfix">
					<figure class="effect-chico">
						<img src="assets/img/43.jpg" alt="img15">
						<figcaption>
							<h2>Head <span>Lines</span></h2>
							<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					 </figcaption>			
	            </figure>
					
	  </div>
	  </div>
	  <div class="middle_right_3 clearfix">
	    <h4 class="heading_tag"><a href="#">CREATE IT TRENDING</a></h4>
		   <div class="middle_right_3_inner clearfix">
		    <div class="col-sm-6 space_left">
			  <div class="middle_right_3_inner_1 clearfix">
			    <a href="#"><img src="assets/img/44.jpg" width="100%"></a>
			    <p><a href="#">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit</a></p>
			  </div>
			 
			</div>
			<div class="col-sm-6 space_left">
			  <div class="middle_right_3_inner_1 clearfix">
			    <a href="#"><img src="assets/img/45.jpg" width="100%"></a>
			    <p><a href="#">Nulla Quis Sem Nibh Dapibus Sagittis Ipsum Imperdiet</a></p>
			  </div>
			 
			</div>
		   </div>
		   <div class="middle_right_3_inner clearfix">
		    <div class="col-sm-6 space_left">
			  <div class="middle_right_3_inner_1 clearfix">
			    <a href="#"><img src="assets/img/46.jpg" width="100%"></a>
			    <p><a href="#">Consectetur Elit Integer Nec Odio Nec Praesent Libero</a></p>
			  </div>
			 
			</div>
			<div class="col-sm-6 space_left">
			  <div class="middle_right_3_inner_1 clearfix">
			    <a href="#"><img src="assets/img/47.jpg" width="100%"></a>
			    <p><a href="#">Duis Sagittis Ipsum Praesent Mauris Sit Fusce Nec Tellus</a></p>
			  </div>
			 
			</div>
		   </div>
	  </div>
	  <div class="middle_right_4 clearfix">
	    <h4 class="heading_tag"><a href="#">POPULAR COMMENTS</a></h4>
		<a href="#"><img src="assets/img/48.jpg" width="100%"></a>
		<h4 class="heading_tag_1"><a href="#">Nulla Quis Sem Nibh Dapibus Sagittis Ipsum Imperdiet</a></h4>
		<h5>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star"></i>
		 <i class="fa fa-star-o"></i>
		</h5>
		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		
	  </div>
	  <div class="middle_right_5 clearfix">
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa</a></p>
						 <h5 class="heading_tag_1">
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star-half-o"></i>
							 <i class="fa fa-star-o"></i>
							 <i class="fa fa-star-o"></i>
		                 </h5>
						</div>
					   </div>
					  </div>
		<div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam</a></p>
						 <h5 class="heading_tag_1">
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star-half-o"></i>
		                 </h5>
						</div>
					   </div>
					  </div>
	  </div>
	  <div class="middle_right_2 clearfix">
	    <div class="grid clearfix">
					<figure class="effect-chico">
						<img src="assets/img/43.jpg" alt="img15">
						<figcaption>
							<h2>Head <span>Lines</span></h2>
							<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitursodales ligula in libero. Sed dignissim lacinia nunc...</p>
					 </figcaption>			
	            </figure>
					
	  </div>
	  </div>
	  
	  <div class="middle_right_4 middle_right_6 clearfix">
	    <h4 class="heading_tag"><a href="#">VACATION FOOD</a></h4>
		<h4 class="heading_tag_1"><a href="#">Class aptent taciti sociosqu ad  conubia nostra, per inceptos himenaeos</a></h4>
		<h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		<a href="#"><img src="assets/img/49.jpg" width="100%"></a>
		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos ligula in libero. Sed dignissim lacinia nunc...</p>
		
	  </div>
	  <div class="middle_right_5 clearfix">
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Nulla Quis Sem Nibh Elementum Imperdiet</a></p>
						 <h5 class="heading_tag_1">
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star-half-o"></i>
							 <i class="fa fa-star-o"></i>
							 <i class="fa fa-star-o"></i>
		                 </h5>
						</div>
					   </div>
					  </div>
		<div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Consectetur Elit Integer Nec Odio Praesent Libero...</a></p>
						 <h5 class="heading_tag_1">
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star-half-o"></i>
		                 </h5>
						</div>
					   </div>
					  </div>
		<div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Praesent Libero Sed Cursus Ante Dapibus Diam...</a></p>
						 <h5 class="heading_tag_1">
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star-half-o"></i>
		                 </h5>
						</div>
					   </div>
					  </div>
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce Nec Tellus Sed Augue Semper Porta Massa...</a></p>
						 <h5 class="heading_tag_1">
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star"></i>
							 <i class="fa fa-star-half-o"></i>
		                 </h5>
						</div>
					   </div>
					  </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="middle_last">
 <div class="container">
  <div class="row">
   <div class="middle_last clearfix">
    <div class="middle_last_1 clearfix">
	 <div class="col-sm-4 space_left">
	  <div class="middle_last_1_inner">
	    <h4 class="heading_tag"><a href="#">CAR RACING</a></h4>
		<div class="ih-item square effect2"><a href="#">
                      <div class="img"><img src="assets/img/50.jpg" alt="img"></div>
                      <div class="info">
                        <h3>News is here</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam...</p>
                      </div></a></div>
		<div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/51.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Curabitursodales ligula in libero Sed dignissim lacinia nunc.</a></p>
						 <h6>Mar 21, 2016</h6>
						</div>
					   </div>
					  </div>
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/52.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#"> Vestibulum lacinia arcu eget nulla sociosqu ad  per conubia nostra?</a></p>
						 <h6>Mar 21, 2016</h6>
						</div>
					   </div>
					  </div>
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/53.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">  Fusce nec tellus sed augue semper porta Mauris massa  lacinia  Sed dignissim lacinia nunc.</a></p>
						 <h6>Mar 21, 2016</h6>
						</div>
					   </div>
					  </div>
	  </div>
	 </div>
	 <div class="col-sm-4 space_left">
	  <div class="middle_last_1_inner">
	    <h4 class="heading_tag_2"><a href="#">HEALTH DEPARTMENT</a></h4>
		<div class="ih-item square effect2"><a href="#">
                      <div class="img"><img src="assets/img/54.jpg" alt="img"></div>
                      <div class="info">
                        <h3>News is here</h3>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus ante dapibus diam...</p>
                      </div></a></div>
		<div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/55.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Curabitursodales ligula in libero Sed dignissim lacinia nunc.</a></p>
						 <h6>Mar 21, 2016</h6>
						</div>
					   </div>
					  </div>
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/56.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Vestibulum lacinia arcu eget nulla sociosqu ad per conubia nostra?</a></p>
						 <h6>Mar 21, 2016</h6>
						</div>
					   </div>
					  </div>
	    <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/57.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed dignissim lacinia nunc.</a></p>
						 <h6>Mar 21, 2016</h6>
						</div>
					   </div>
					  </div>
	  </div>
	 </div>
	 <div class="col-sm-4 space_left">
	  <div class="middle_last_1_inner_1">
	    <h4 class="heading_tag_2"><a href="#">COMPANY</a></h4>
		<div class="middle_last_1_inner_1_inner text-center clearfix">
		  <p><a href="#"><i class="fa fa-comment"></i></a></p>
		  <h4><a href="#">Curabitursodales ligula in libero Sed dignissim lacinia nunc</a></h4>
		  <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		</div>
		<div class="middle_last_1_inner_1_inner text-center clearfix">
		  <p><a href="#"><i class="fa fa-comment"></i></a></p>
		  <h4><a href="#">Vestibulum lacinia  eget nulla  ad per conubia nostra</a></h4>
		  <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		</div>
		<div class="middle_last_1_inner_1_inner text-center clearfix">
		  <p><a href="#"><i class="fa fa-comment"></i></a></p>
		  <h4><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed </a></h4>
		  <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		</div>
		<div class="middle_last_1_inner_1_inner text-center clearfix">
		  <p><a href="#"><i class="fa fa-comment"></i></a></p>
		  <h4><a href="#"> Per inceptos himenaeos  ligula in  Sed dignissim lacinia</a></h4>
		  <h6><span>Nulla Quis </span> -  Jan 16, 2016</h6>
		</div>
	  </div>
	 </div>
	</div>
	<div class="middle_last_2 clearfix">
	 <div class="col-sm-4 space_all">
	  <div class="middle_last_2_inner clearfix">
	    <div class="view view-eighth">
                    <img src="assets/img/58.jpg" />
                    <div class="mask">
                        <h2>ENTERTAINMENT</h2>
                        <p>Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos <br> himenaeos.</p>
                        <a href="#" class="info">Learn More</a>
                    </div>
                </div>
	  </div>
	 </div>
	 <div class="col-sm-4 space_all">
	  <div class="middle_last_2_inner clearfix">
	    <div class="view view-eighth">
                    <img src="assets/img/59.jpg" />
                    <div class="mask">
                        <h2>ENTERTAINMENT</h2>
                        <p>Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos <br> himenaeos.</p>
                        <a href="#" class="info">Learn More</a>
                    </div>
                </div>
	  </div>
	 </div>
	 <div class="col-sm-4 space_all">
	  <div class="middle_last_2_inner clearfix">
	    <div class="view view-eighth">
                    <img src="assets/img/60.jpg" />
                    <div class="mask">
                        <h2>ENTERTAINMENT</h2>
                        <p>Vestibulum lacinia arcu eget nulla.Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos <br> himenaeos.</p>
                        <a href="#" class="info">Learn More</a>
                    </div>
                </div>
	  </div>
	 </div>
	</div>
	<div class="middle_last_3 clearfix">
	 <div class="col-sm-8 space_left">
	  <div class="middle_last_3_left clearfix">
	     <h4 class="heading_tag"><a href="#">RECENT BLOGS</a></h4>
		 <div class="middle_last_3_left_inner clearfix">
		  <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/61.jpg" width="100%"></a>
					   <h4><a href="#">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit</a></h4>
					   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="#"><i class="fa fa-comment"></i></a></h6>
					  </div>
		  </div>
		  <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/62.jpg" width="100%"></a>
					   <h4><a href="#">Nulla Quis Sem Nibh Dapibus Sagittis Ipsum Imperdiet</a></h4>
					   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="#"><i class="fa fa-comment"></i></a></h6>
					  </div>
		  </div>
		 </div>
		 <div class="middle_last_3_left_inner clearfix">
		  <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/63.png" width="100%"></a>
					   <h4><a href="#">Consectetur Elit Integer Nec Odio Nec Praesent Libero</a></h4>
					   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="#"><i class="fa fa-comment"></i></a></h6>
					  </div>
		  </div>
		  <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/64.jpg" width="100%"></a>
					   <h4><a href="#">Praesent Libero Sed Cursus Ante Duis Dapibus Diam</a></h4>
					   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="#"><i class="fa fa-comment"></i></a></h6>
					  </div>
		  </div>
		 </div>
		 <div class="middle_last_3_left_inner clearfix">
		  <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/65.jpg" width="100%"></a>
					   <h4><a href="#">Fusce Nec Tellus Sed Augue Semper At Porta Massa</a></h4>
					   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="#"><i class="fa fa-comment"></i></a></h6>
					  </div>
		  </div>
		  <div class="col-sm-6 space_left">
					  <div class="tab_inner_left">
					   <a href="#"><img src="assets/img/66.jpg" width="100%"></a>
					   <h4><a href="#">Duis Sagittis Ipsum Praesent Mauris Sit Fusce Nec Tellus</a></h4>
					   <h6><span>Nulla Quis</span> -  Jan 18, 2016 <a class="pull-right pull_1" href="#"><i class="fa fa-comment"></i></a></h6>
					  </div>
		  </div>
		 </div>

		 <div class="middle_last_3_left_inner_1 clearfix">
	  <ul class="pagination">
              <li class="disabled"><a href="#"></a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"></a></li>
            </ul>
	</div>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="middle_last_3_right clearfix">
	   <h4 class="heading_tag"><a href="#">TRENDING</a></h4>
	     <div class="middle_last_3_right_inner clearfix">
		   <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/55.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Curabitursodales ligula in libero Sed dignissim lacinia nunc.</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
	   </div>
	       <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/56.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia  lacinia nunc...</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
	   </div>
	       <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/57.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
	   </div>
	       <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/51.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Vestibulum lacinia eget nulla ad per conubia nostra</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
	   </div>
	       <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/11.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Curabitursodales ligula in libero Sed dignissim lacinia nunc.</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
	   </div>
	       <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/12.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia lacinia nunc...</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
	   </div>
	       <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/13.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
	   </div>
	       <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/14.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Vestibulum lacinia eget nulla ad per conubia nostra</a></p>
						 <h6>Mar 15, 2016</h6>
						</div>
					   </div>
	   </div>
		 </div>
		 <div class="middle_last_3_right_inner_1 clearfix">
		  <h4 class="heading_tag"><a href="#">LATEST REVIEWS</a></h4>
		  <p><a href="#">Dapibus Diam</a> on <a href="#">Praesent Libero Sed Cursus Ante Duis Dapibus Diam</a></p>
		  <p><a href="#">Sed Augue </a> on <a href="#">Nulla Quis Sem Nibh Dapibus Sagittis Ipsum Imperdiet</a></p>
		  <p><a href="#">Semper Porta</a> on <a href="#">Consectetur Elit Integer Nec Odio Nec Praesent Libero</a></p>
		  <p><a href="#">Mauris Massa </a> on <a href="#">Duis Sagittis Ipsum Praesent Mauris Sit Fusce Nec Tellus</a></p>
		 </div>
	   
	  </div>
	 </div>
	</div>
	
   </div>
  </div>
 </div>
</section>

<section id="footer">
 <div class="footer_main clearfix">
  <div class="container">
  <div class="row">
   <div class="footer_1 clearfix">
    <div class="col-sm-4">
	 <div class="footer_1_inner">
	  <h4>DIRECTOR CHOICES</h4>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/55.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed dignissim lacinia nunc...</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/56.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Vestibulum lacinia arcu eget nulla ad litora torquent per conubia nostra,ligula in libero</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/57.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1_inner">
	  <h4>TRENDING BLOGS</h4>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/51.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Per inceptos himenaeos ligula in Sed dignissim lacinia</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/52.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Fusce nec tellus sed augue semper porta Mauris massa lacinia Sed dignissim lacinia nunc...</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	  <div class="tab_inner_right clearfix">
					   <div class="col-sm-4 space_left">
						<div class="tab_inner_right_1">
						 <a href="#"><img src="assets/img/53.jpg" width="100%" height="70px"></a>
						</div>
					   </div>
					   <div class="col-sm-8 space_left">
						<div class="tab_inner_right_2">
						 <p><a href="#">Curabitursodales ligula in libero Sed dignissim lacinia nunc</a></p>
						 <h6>Feb 27, 2016</h6>
						</div>
					   </div>
	   </div>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="footer_1_inner_1">
	  <h4>TRENDING CATEGORY</h4>
      <p><a href="#">Widgets<span class="pull-right">25</span></a></p>
	  <p><a href="#">Technical<span class="pull-right">24</span></a></p>
	  <p><a href="#">New launch 2017<span class="pull-right">23</span></a></p>
	  <p><a href="#">Comments<span class="pull-right">21</span></a></p>
	  <p><a href="#">Computer and Phones<span class="pull-right">29</span></a></p>
	  <p><a href="#">Foods<span class="pull-right">41</span></a></p>
	  <p><a href="#">Designs<span class="pull-right">31</span></a></p>
	  <p><a href="#">Home Designs<span class="pull-right">28</span></a></p>
	  <p><a href="#">Fashion Club<span class="pull-right">22</span></a></p>
	 </div>
	</div>
   </div>
   <div class="footer_2 clearfix">
    <hr>
	<div class="footer_2_inner clearfix">
	 <div class="col-sm-4">
	  <div class="footer_2_inner_1 clearfix">
	    <div class="header_logo_left">
			      <h3><a href="NEWS"> <span class="span_1">24</span> PUBLISHING <span class="span_2">This is publish world</span></a></h3>
		</div>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="footer_2_inner_2">
	   <h4>KNOW US</h4>
	   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.</p>
	   <h5>Connect with us: <a href="#">info@gmail.com</a></h5>
	  </div>
	 </div>
	 <div class="col-sm-4">
	  <div class="footer_2_inner_3">
	   <h4>FOLLOW US</h4>
	   <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>
 </div>
</section>

<section id="footer_bottom">
 <div class="container">
  <div class="row">
   <div class="footer_bottom clearfix">
    <div class="col-sm-6">
	 <div class="footer_bottom_left">
	  <p>  2020 Your Website Name. All Rights Reserved | Design by <a href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="footer_bottom_right text-right">
	  <p>
	  <a href="#">Privacy</a>
	  <a href="#">Policy</a>
	  <a href="#">Promotion</a>
	  <a href="#">Contact us</a>
	  </p>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<div id="toTop" class="btn btn-info" style="display: block; background:#4db2ec; border-color:#4db2ec;"><span class="fa fa-chevron-up"></span></div>

<script type="text/javascript">
$(document).ready(function(){
  $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Back to Top</div>');
	$(window).scroll(function () {
		if ($(this).scrollTop() != 0) {
			$('#toTop').fadeIn();
		} else {
			$('#toTop').fadeOut();
		}
	}); 
$('#toTop').click(function(){
	$("html, body").animate({ scrollTop: 0 }, 600);
	return false;
});
});

console.log( <%= news.articles[0].description %> );
console.log( <%= news.articles[0].title %> );
console.log( <%= news.articles[0].content%> );


</script>


</body>
       
</html>
